h2 {
    font-size: 47px !important;
    margin-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

input,
textarea,
select {
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    outline: none;
}

input {
    display: flex;
    padding: 13px 21px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--style, #D1D1D1);
    background: #FFF;
}

textarea {
    display: flex;
    height: 119px;
    max-height: 166px;
    padding: 18px 21px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--style, #D1D1D1);
    background: #FFF;
    resize: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('./assets/img/textarea_recurso.svg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 4px);
    background-position-y: calc(100% - 4px);
}

textarea:hover {
    resize: vertical;
}

select {
    display: flex;
    width: 422px;
    height: 51px;
    padding: 10px 21px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--style, #D1D1D1);
    background: #FFF;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('./assets/img/arrow_dropdown.svg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 18px);
    background-position-y: calc(50% + 2px);
}

select:focus {
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--style, #D1D1D1);
}

select option {
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

select option:disabled {
    display: none;
}

select:hover {
    cursor: pointer;
}

option:hover {
    cursor: pointer;
}

input::placeholder,
textarea::placeholder {
    color: #D1D1D1;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

input .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addtask-headline-container {
    display: flex;
    justify-content: left; 
}

.addtask-form-container {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.addtask-form-container-column {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}

.assigned-users-container {
    width: 100%;
    max-width: 424px;
}

#addtask-assign-new-user, #edittask-assign-new-user {
    width: 422px;
    border-radius: 0 0 10px 10px;
    border-top: none;
}

#addtask-assign-new-user:focus, #edittask-assign-new-user:focus {
    border-radius: 0;
}

.assigned-users-box {
    display: flex;
    width: 100%;
    min-height: 52px;
    max-height: 150px; /* 196px = 4 rows / 150px = 3 rows */
    overflow-y: auto;
    flex-wrap: wrap;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding: 13px 21px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--style, #D1D1D1);
    background: #FFF;
}

.assigned-user {
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    background-color: var(--blue-dark);
    padding: 8px 8px;
    gap: 4px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    transition-duration: 125ms;
    cursor: default;
}

.assigned-user:hover {
    background-color: var(--blue-light);
}

.assigned-user img {
    height: 18px;
    cursor: pointer;
    transition-duration: 125ms;
}

.assigned-user img:hover {
    transform: scale(1.2);
}

.assigned-users-placeholder {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    gap: 4px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px dashed var(--icon, #A8A8A8);
    background: #E7E7E7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    font-size: 16px;
    color: var(--gray-light-4);
    cursor: default;
}

.dropdown-list-wrapper {
    width: 100%;
    position: relative;
    display: inline-block;
}

.assigned-dropdown-list {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 142px; /* was 218px */
    overflow-y: auto;
    list-style: none;
    padding: 8px 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 1;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    outline: none;
}

.assigned-dropdown-list li {
    width: 100%;
    padding: 9px 6px; /* was 13px 11px */
    cursor: pointer;
    transition-duration: 125ms;
}

.assigned-dropdown-list li:hover {
    border-radius: 10px;
    color: white;
    background-color: var(--blue-dark);
}

.addTaskSeparator {
    width: 1px;
    height: 551px;
    flex-shrink: 0;
    background-color: #D1D1D1;
}

.addtask-priority-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    flex-shrink: 0;
}

.addtask-priority-container button {
    display: flex;
    width: 136px;
    height: 51px;
    padding: 18px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--white, #FFF);
    border: none;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    cursor: pointer;
}

.addtask-priority-urgent {
    background-color: #ff3d00 !important;
    color: white !important;
    font-weight: 700 !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4) !important;
}

.addtask-priority-medium {
    background-color: #ffa800 !important;
    color: white !important;
    font-weight: 700 !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4) !important;
}

.addtask-priority-low {
    background-color: #7ae229 !important;
    color: white !important;
    font-weight: 700 !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4) !important;
}

input[type='date'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('./assets/img/calendar.svg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 18px);
    background-position-y: 50%;
}

input[type='date']::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.addtask-subtask-input {
    background-image: url('./assets/img/icon_plus.svg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 18px);
    background-position-y: 50%;
}

.addtask-subtask-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 125ms;
}

#alert {
    color: red;
}

#subtasksList {
    width: 100%;
}

.d-flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addtask-subtask-option-container {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 20px;
}

.addtask-separator-container {
    display: flex;
    height: inherit;
    align-items: center;
}

.addtask-separator {
    height: 424px;
    width: 1px;
    background-color: var(--gray-light-3);
    margin: 0 59px 0 59px;
}

.addtask-submit-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: inherit;
    gap: 25px;
}

.addtask-clear-btn {
    display: flex;
    justify-content: left !important;
    padding-left: 32px !important;
    width: 136px !important;
    background-image: url('./assets/img/icon_cancel.svg') !important;
    background-repeat: no-repeat !important;
    background-position-y: 50% !important;
    background-position-x: calc(100% - 28px) !important;
}

.addtask-clear-btn:hover {
    background-image: url('./assets/img/icon_cancel_lightblue.svg') !important;
}

.addtask-create-btn {
    width: 186px !important;
}

.addtask-category {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 4px solid var(--white);
}

.addSubtasksList {
    width: 100%;
    max-height: 196px;
    overflow-y: auto;
}

/*-- Added 'position: relative' for date calendar --*/
.addTaskDateInput {
    position: relative;
}

.custom-dropdown {
    position: relative;
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
}

.custom-dropdown::after {
    content: '\25BC';
    /* Unicode character for the dropdown arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

@media (max-width: 1260px) {
    .addtask-headline-container {
        margin-left: 0;
        width: 100%;
    }

    .addtask-submit-container {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .content {
        margin-left: 270px;
        margin-right: 16px;
    }

    .addtask-separator {
        display: none;
    }

    .addtask-form-container {
        flex-direction: column;
    }

    form {
        width: 100%;
    }

    input,
    textarea,
    .label,
    select,
    .input-icon {
        width: 100% !important;
    }

    .addtask-form-container-column-2 {
        margin-top: 14px;
    }

    .assigned-users-container {
        max-width: 100%;
    }
}

@media (max-width: 880px) {
    .content {
        margin-left: 0px;
        margin-right: 0px;
    }

    .addtask-clear-btn {
        display: none !important;
    }

    .addtask-submit-container {
        flex-direction: column;
    }
}

@media (max-width: 470px) {
    .addtask-priority-container {
        flex-direction: column;
        width: 100%;
    }

    .addtask-priority-container button {
        width: 100%;
    }
}

@media (max-width: 396px) {
    .addtask-headline-container {
        padding-left: 0px;
    }
}