<div class="header">
    <h6>Kanban Project Management Tool</h6>
    <img src="./assets/img/logo.svg" class="header-mobile-logo" alt="Join">
    <div class="account">
        <a href="./help.html">
            <img src="./assets/img/help.svg" alt="Show help" class="account-help">
        </a>
        <div id="account-img-container" class="account-img-container">
            <div class="accountnav" id="accountnav">
                <ul>
                    <li onclick="logout()" id="accountnavLogout" class="rounded-corners"><b>Log out</b><img src="./assets/img/logout.svg"></li>
                    <li class="accountnav-mobile"><a href="privacy-policy.html">Privacy Policy<img src="./assets/img/policy.svg"></a></li>
                    <li class="accountnav-mobile"><a href="help.html">Help<img src="./assets/img/help.svg"></a></li>
                    <li id="accountnavImprint" class="accountnav-mobile">
                        <a href="legal-notice.html">Legal notice
                            <img src="./assets/img/legalnotice.svg">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="sidebar">
    <img class="sidebar-logo" src="./assets/img/logo-white.svg" alt="JOIN">
    <div class="nav uppernav">
        <ul>
            <li>
                <a class="menuitem" id="summaryMenu" href="summary.html">
                    <img src="./assets/img/summary.svg" alt="">
                    Summary
                </a>
            </li>
            <li>
                <a class="menuitem" id="boardMenu" href="board.html">
                    <img src="./assets/img/board.svg" alt="">
                    Board
                </a>
            </li>
            <li>
                <a class="menuitem" id="addTaskMenu" href="add_task.html">
                    <img src="./assets/img/add-task.svg" alt="">
                    Add Task
                </a>
            </li>
            <li>
                <a class="menuitem" id="contactsMenu" href="contacts.html">
                    <img src="./assets/img/contacts.svg" alt="">
                    Contacts
                </a>
            </li>
        </ul>
    </div>
    <div class="nav undernav">
        <ul>
            <li><a href="privacy-policy.html" id="privacyMenu" class="undernav-active">Privacy Policy</a></li>
            <li><a href="legal-notice.html" id="legalMenu">Legal notice</a></li>
        </ul>
    </div>
</div>
<div class="mobile-nav">
    <ul>
        <a class="menuitem" href="summary.html" id="summaryNavMobile">
            <div class="mobile-nav-img">
                <img src="./assets/img/summary.svg" alt="">
            </div>
            <li>Summary</li>
        </a>
        <a class="menuitem" href="board.html" id="boardNavMobile">
            <div class="mobile-nav-img">
                <img src="./assets/img/board.svg" alt="">
            </div>
            <li>Board</li>
        </a>
        <a class="menuitem" href="add_task.html" id="addTaskNavMobile">
            <div class="mobile-nav-img">
                <img src="./assets/img/add-task.svg" alt="">
            </div>
            <li>Add Task</li>
        </a>
        <a class="menuitem" href="contacts.html" id="contactsNavMobile">
            <div class="mobile-nav-img">
                <img src="./assets/img/contacts.svg" alt="">
            </div>
            <li>Contacts</li>
        </a>
    </ul>
</div>

</html>